@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin:0
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.swiper {
    width: 100%;
    
}

.swiper img {
    height:255px;
    width:100%;
    object-fit: cover;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    text-align: center; 
    margin-bottom: 20px; 
}
.logo img {
    max-width: 45%;
    height: auto; 
}

.cart-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px; 
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white; 
    z-index: 1000; 
}

.cart-menu h4 {
    margin-top: 0; 
    border-bottom: 1px solid #ccc; 
    padding-bottom: 5px; 
}

.cart-menu p {
    margin-bottom: 10px; 
}

.cart-menu p.empty {
    background-color: #f0f0f0; 
    padding: 5px; 
}

.cart-menu .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.footer {
    background: #2c2c2c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-section h2 {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-section p {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #ddd;
}

.footer-section .social-links a {
    display: inline-block;
    margin: 0 10px;
    width: 30px;
    height: 30px;
}

.footer-section .social-links img {
    width: 100%;
    height: 100%;
}

.footer-bottom {
    background: #222;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: left;
    }

    .footer-section {
        min-width: 100%;
    }
}